body {
  background-color: #081317;
  overflow: hidden;
  color: white;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 30vw;
}

.mapboxgl-canvas-container {
  width: 20vw;
  height: 100%;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

#login{
  background: url('https://images.unsplash.com/photo-1581097543550-b3cbe2e6ea6e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#signup{
  background: url('https://www.hotelgeorge.com/images/1700-960/union-station-hero-249c3a1c.jpg') no-repeat;
  /* background: url('https://lp-cms-production.imgix.net/image_browser/Cherry%20Blossoms%20and%20monument.jpg') no-repeat; */
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* filter: brightness(50%) */
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h1{
  font-size: 40px;
  margin-top:0;
}
.loginSignupDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  /* text-shadow: 0px 0px 3px white; */
}

.loginSignupForm {
  margin-top:90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 60vh;
  width: 30vw;
  background: transparent;
  backdrop-filter: blur(5px);
  border-radius:20px;
  box-shadow: 0px 0px 40px black;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 input {
   margin: 10px;
   margin-bottom: 20px;
    padding: 3px;
   border-radius: 5px;
   border: 1px solid #161511;
   background: #b2b0ab 
 }
 input:focus {
  outline:none;
}
 .loginSignupDiv button{
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #161511;
  background: #b2b0ab ;
  margin-top: 10px;
 }

 #splash{
   background-size: cover;
   height: 100vh;
   width: 100vw;
   text-align:center;
 }


.explore{
  text-decoration: none;
  position:relative;
  top: 10vh;
  font-size:70px;
  color: #90b0ca;
  text-shadow: 0 0 2px black
}

#portal{

}


